<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
</head>

<body class="list">
    <div class="header">
        <h2><a href="/add">创建账单</a></h2>
        <button id="logout-btn">登出</button>
    </div>
    <main>
        <% dataArr.forEach((item)=>{ %>
            <div class="item">
                <div class="top">
                    <span>
                        <%= item.time %>
                    </span>
                </div>
                <div class="bottom">
                    <span>
                        <%= item.task %>
                    </span>
                    <div>
                        <% if(item.type) {%>
                            支出
                            <% }else{ %>
                                收入
                                <% } %>
                    </div>
                    <span>
                        <%= item.amount %>
                    </span>
                    <button data-id="<%= item._id %>" class="delete">删除</button>
                </div>
            </div>
            <% }) %>
                <div id="logout-modal" class="modal">
                    <div class="modal-content">
                        <p>确定要登出吗？</p>
                        <div class="modal-buttons">
                            <button id="confirm-logout">确定</button>
                            <button id="cancel-logout">取消</button>
                        </div>
                    </div>
                </div>
    </main>
    <script src="/javascripts/form-serialize.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/script.js"></script>

    <script>
        $(function () {
            $("#logout-btn").on("click", function () {
                $("#logout-modal").css("display", "flex").fadeIn();
                $("#logout-modal").fadeIn();
            });
            $("#cancel-logout").on("click", function () {
                $("#logout-modal").fadeOut();
            });
        });
    </script>
</body>

</html>